@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

h1 {
  font-weight: bold;
}

p {
  font-weight: 500;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #42a19f;
  border: none;
  outline: none;
  border-radius: 18px;
  width: 99%;
  height: 5.5rem;
  margin-top: 1%;
  margin-left: .5%;
  align-items: center;
}

.logo {
  display: flex;
  width: 30%;
  height: 99%;
  flex-direction: row;
  align-items: center;
  margin-left: 1%;
}

.logo_img {
  width: 20%;
}

.logo_text {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  margin-left: 2%;
}

.button {
  color: #ffffff;
  padding: .7%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #42a19f;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  transition: .5s;
}